{% extends 'base.html' %}

{% block content %}

<!--{% include 'include/breadcrumb.html' %}-->
<main class="main-container width-container">
    <h1 class="visually-hidden">Городок Седона</h1>
    <section class="main-banner">
    <h2 class="visually-hidden">Приветственный баннер</h2>
    <p class="visually-hidden">Добро пожаловать в великолепную Седону! Потому что Гранд Каньон - отстой!</p>
    </section>
    <section class="features">
        <h2 class="visually-hidden">Блок преимуществ</h2>
        <div class="features-title">
              <p>Седона &hairsp;&ndash;&hairsp; небольшой городок в Аризоне, заслуживающий большего!</p>
              <p>Рассмотрим 5 причин, по которым Седона круче, чем Гранд Каньон!</p>
        </div>
        <ul class="features-list">
            {% for reason in reasons %}
                <li class="feature-item{% if reason.css_class != 'standart' %}-{{reason.id}} {% endif %} {% if reason.css_class == 'standart' %} feature-{{reason.css_class}} {% endif %}">
                    {% if reason.css_class != 'standart' %}
                    <div class="feature-item feature-{{reason.css_class}}">
                        {% endif %}
                        <h3>{{reason.title}}</h3>
                        <p>&ndash;&emsp13;№{{reason.number}}&emsp13;&ndash;</p>
                        <p>{{reason.description}}</p>
                        {% if reason.css_class != 'standart' %}
                    </div>
                    {% endif %}
                    {% if reason.reason_recommendation %}
                    <ul class="recommendations-list">
                        {% for recommendation in reason.reason_recommendation %}
                        <li class="recommendation-item">
                            <h4>{{recommendation.title}}</h4>
                            <p>{{recommendation.text}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% include 'include/search_form.html' %}

{% endblock %}
